<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            font-family: 'Noto Sans', sans-serif;
            color:rgb(75, 75, 75);
        } 
        .part{
            width:inherit;
            height: 70vh;
        }
        a{
            text-decoration: none;
            padding-top: 5px;
            color: dimgray;
        }
        fieldset{
            width:286px
        }
          input{
            font-family: 'Noto Sans', sans-serif;
            width: 286px;
        }
        nav div{
            width: 95vw;
            text-align: right;
            margin: 20px;
            border-bottom:1px solid rgb(102, 102, 102)
        }

        
       
       form button{
        background-color:crimson;
           color: white;
           border: 0;
           outline:none;
       }

       footer p{
        font-family: 'Noto Sans', sans-serif;
        font-size: small;
       }
       
    </style>
</head>